##Imports
import("Formula")
import("maxLik")
import("car")
import("sandwich")
import("censReg")

#exportPattern("^[[:alpha:]]+")
export(alm, boxcox.r, eivlm, ivtobit, etreg, etreg.fit, Wald.Test, logLik.ratio.test)
S3method("summary", "boxcox_r")
S3method("print", "summary.boxcox_r")
S3method("summary", "alm")
S3method("print", "summary.alm")
S3method("summary", "eivlm")
S3method("vcov", "eivlm")
S3method("summary", "ivtobit")
S3method("print", "summary.ivtobit")
S3method("coef", "summary.ivtobit")
S3method("print", "ivtobit")
S3method("fitted", "ivtobit")
S3method("vcov", "ivtobit")
S3method("coef", "ivtobit")
S3method("summary", "etreg")
S3method("print", "summary.etreg")
S3method("print", "etreg")
